{% extends 'main/base.html' %}
{% load static %}
{% block bodycontent %}

<div class="hero_area" style="background-image: url('{% static 'main/img/hero-bg.png' %}');">
<section class="slider_section ">
      <div class="play_btn">
        <a href="">
          <img src="{% static 'main/img/play.png' %}" alt="">
        </a>
      </div>
      <div class="number_box">
        <div>
          <ol class="carousel-indicators indicator-2">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3">04</li>
          </ol>
        </div>
      </div>
      <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      The Latest
                      <span>
                        Furniture
                      </span>
                    </h1>
                    <p style="font-size: 20px">
                      Introducing our newest furniture collection, designed to elevate your living spaces with timeless elegance and modern functionality. Crafted with meticulous attention to detail, each piece in this collection seamlessly blends style and comfort to create inviting interiors that reflect your unique taste.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                      <a href="" class="btn-2">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="{% static 'main/img/slider-img.png' %}" alt="" style="margin-top: 10px; margin-left: -50px">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                        Collection
                      <span>
                        <br>for you
                      </span>
                    </h1>
                    <p style="font-size: 20px">
                      From luxurious sofas upholstered in sumptuous fabrics to sleek coffee tables that serve as focal points in any room, our latest collection offers a diverse range of furniture to suit every aesthetic preference. Embrace the art of relaxation with our plush armchairs and ottomans, perfect for cozy reading nooks or evening unwind sessions.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                      <a href="" class="btn-2">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box" style="">
                    <img src="{% static 'main/img/slider-img2.png' %}" alt="" style="width: 150% ; height: 150%; margin-left: -100px">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Style and quality
                      <span>
                        <br> for you
                      </span>
                    </h1>
                    <p style="font-size: 20px">
                      Infuse your dining area with sophistication and charm with our exquisite dining sets, featuring elegant tables and chairs crafted from high-quality materials for lasting durability. Whether you prefer classic designs or contemporary silhouettes, our collection has something to suit every dining space.
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                      <a href="" class="btn-2">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="{% static 'main/img/slider-img3.png' %}" alt="" style="margin-top: 50px; margin-left: -50px">
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <h1>
                      Crafted with details
                      <span>
                        <br> for you
                      </span>
                    </h1>
                    <p style="font-size: 20px">
                      Discover the perfect accents to complete your home decor with our curated selection of accessories, including decorative mirrors, chic lamps, and statement-making rugs. Transform your space into a haven of style and relaxation with our latest furniture collection, where every piece is crafted to inspire and delight
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1">
                        Read More
                      </a>
                      <a href="" class="btn-2">
                        Contact us
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 img-container">
                  <div class="img-box">
                    <img src="{% static 'main/img/slider-img4.webp' %}" alt="" style=" width: 110%; height: 110% ;margin-top: 50px; margin-left: -50px">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
  </script>
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        420: {
          items: 2
        },
        1000: {
          items: 5
        }
      }

    });
  </script>
  <script>
    var nav = $("#navbarSupportedContent");
    var btn = $(".custom_menu-btn");
    btn.click
    btn.click(function (e) {

      e.preventDefault();
      nav.toggleClass("lg_nav-toggle");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    });
  </script>
  <script>
    $('.carousel').on('slid.bs.carousel', function () {
      $(".indicator-2 li").removeClass("active");
      indicators = $(".carousel-indicators li.active").data("slide-to");
      a = $(".indicator-2").find("[data-slide-to='" + indicators + "']").addClass("active");
      console.log(indicators);
    })

    $('.play_btn a').click(function(e) {
      e.preventDefault();

      var carousel = $("#carouselExampleIndicators");

      carousel.carousel('next');
    });
  </script>
{% endblock %}
