{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TamTumba</title>
  <link rel="stylesheet" href="{% static 'main/css/loginformstyle.css' %}">
  <link rel="icon" href="{% static 'main/img/icon.ico' %}" type="image/png">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Set New Password</header>
      <form method="post">
        {% csrf_token %}
        <label class="input">New Password</label>
        {{ form.new_password1 }}
        {% if form.errors.new_password1 %}
          <div class="error" style="color:red;">
            <p>{{ form.errors.new_password1 }}</p>
          </div>
        {% endif %}
        <label class="input">Confirm New Password</label>
        {{ form.new_password2 }}
        {% if form.errors.new_password2 %}
          <div class="error" style="color:red;">
            <p>{{ form.errors.new_password2 }}</p>
          </div>
        {% endif %}
        <input type="submit" class="button" value="Set Password">
      </form>
    </div>
  </div>
</body>
</html>
