{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>TamTumba</title>
  <link rel="stylesheet" href="{% static 'main/css/loginformstyle.css' %}">
  <link rel="icon" href="{% static 'main/img/icon.ico' %}" type="image/png">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Password Reset Sent</header>
      <p>We've emailed you instructions for setting your password. You should receive them shortly.</p>
    </div>
  </div>
</body>
</html>
