{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TamTumba</title>
    <link rel="icon" href="{% static 'main/img/icon.ico' %}" type="image/png">
</head>
<body>
    <div class="container"></div>
    <div id="model-container"></div>
    <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.139.0/build/three.module.js",
                "OrbitControls": "https://unpkg.com/three@0.139.0/examples/jsm/controls/OrbitControls.js",
                "GLTFLoader": "https://unpkg.com/three@0.139.0/examples/jsm/loaders/GLTFLoader.js",
                "OBJLoader" : "https://unpkg.com/three@0.139.0/examples/jsm/loaders/OBJLoader.js",
                "MTLLoader": "https://unpkg.com/three@0.139.0/examples/jsm/loaders/MTLLoader.js",
                "RectAreaLightHelper": "https://unpkg.com/three@0.139.0/examples/jsm/helpers/RectAreaLightHelper.js",
                "RectAreaLightUniformsLib": "https://unpkg.com/three@0.139.0/examples/jsm/lights/RectAreaLightUniformsLib.js"
            }
        }
    </script>
    <script src="{% static 'main/js/OBJLoader.js' %}"></script>
    <script src="{% static 'main/js/3d.js' %}" type="module"></script>
</body>
</html>
