{% extends 'main/base.html' %}
{% load static %}
{% block bodycontent %}
<div class="container">
    <div class="row">
        <div class="col-lg-1">
            <div class="category-sidebar">
                <h3>Ціна</h3>
                <form class="price-filter-form" method="get" action="{% url 'furniture_store' %}" onsubmit="return validatePriceFilter()">
                    <div>
                        <input type="text" id="min_price" name="min_price">
                        - <input type="text" id="max_price" name="max_price">
                    </div>
                    <div id="priceSlider"></div>
                    <button type="submit" id="filterButton" disabled>OK</button>
                    {% if price_filter_form.errors %}
                        <p class="error">{{ price_filter_form.errors.min_price }}</p>
                        <p class="error">{{ price_filter_form.errors.max_price }}</p>
                    {% endif %}
                </form>
                <h3>Категорії</h3>
                <ul class="category-menu">
                    <li {% if not current_category_slug %}class="active"{% endif %}>
                        <a href="{% url 'furniture_store' %}">Все</a>
                    </li>
                    {% for category in categories %}
                        <li {% if category.slug == current_category_slug %}class="active"{% endif %}>
                            <a href="{% url 'furniture_store_category' category.slug %}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-lg-10 product-grid">
            <div class="row">
                {% for product in products %}
                    <div class="col-lg-4">
                        <img class="thumbnail" src="{{ product.imageURL }}">
                        <div class="box-element product">
                            <h6><strong>{{ product.name }}</strong></h6>
                            <hr>
                            <button data-product={{ product.id }} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                            <a class="btn btn-outline-success" href="{% url 'product_detail' product.slug %}">View</a>
                             {% if product.discount_price %}
                                <span style="display: inline-block; float: right">
                                    <del>${{ product.price|floatformat:0 }}</del>
                                </span>
                                <h4 style="display: inline-block; float: right; color: red;"><strong>${{ product.discount_price|floatformat:0 }}</strong></h4>
                            {% else %}
                            <h4 style="display: inline-block; float: right"><strong>${{ product.price|floatformat:0 }}</strong></h4>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pagination">
                {% if products.has_previous %}
                    <a href="?page={{ products.previous_page_number }}">« Previous Page</a>
                {% endif %}

                {% if products.number > 3 %}
                    <a href="?page=1">1</a>
                    {% if products.number > 4 %}
                        <span>...</span>
                    {% endif %}
                {% endif %}

                {% for num in products.paginator.page_range %}
                    {% if products.number == num %}
                        <span class="current-page">{{ num }}</span>
                    {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if products.has_next %}
                    {% if products.number < products.paginator.num_pages|add:'-3' %}
                        <span>...</span>
                        <a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
                    {% elif products.number < products.paginator.num_pages|add:'-2' %}
                        <a href="?page={{ products.paginator.num_pages }}">{{ products.paginator.num_pages }}</a>
                    {% endif %}
                    <a href="?page={{ products.next_page_number }}">Next Page »</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.js" integrity="sha512-UOJe4paV6hYWBnS0c9GnIRH8PLm2nFK22uhfAvsTIqd3uwnWsVri1OPn5fJYdLtGY3wB11LGHJ4yPU1WFJeBYQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.css" integrity="sha512-MKxcSu/LDtbIYHBNAWUQwfB3iVoG9xeMCm32QV5hZ/9lFaQZJVaXfz9aFa0IZExWzCpm7OWvp9zq9gVip/nLMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>
    document.addEventListener('DOMContentLoaded', function () {
    var priceSlider = document.getElementById('priceSlider');
    var minPriceInput = document.getElementById('min_price');
    var maxPriceInput = document.getElementById('max_price');
    var filterButton = document.getElementById('filterButton');
    var priceFilterForm = document.querySelector('.price-filter-form');

    // Получаем значения из куков
    var initialMinPrice = parseFloat(getCookie('min_price')) || {{ min_price }};
    var initialMaxPrice = parseFloat(getCookie('max_price')) || {{ max_price }};

    noUiSlider.create(priceSlider, {
        start: [initialMinPrice, initialMaxPrice],
        connect: true,
        range: {
            'min': {{ min_price }},
            'max': {{max_price}},
        },
    });

    // Event handler для обновления слайдера
    priceSlider.noUiSlider.on('update', function (values, handle) {
        var value = values[handle];

        if (handle === 0) {
            minPriceInput.value = value;
        } else {
            maxPriceInput.value = value;
        }

        // Enable кнопку "OK" после изменения значений
        filterButton.disabled = false;
    });

    // Event handler для отправки формы
    priceFilterForm.addEventListener('submit', function (event) {
        event.preventDefault();

        // Обновляем значения в куках
        setCookie('min_price', minPriceInput.value);
        setCookie('max_price', maxPriceInput.value);

        this.submit();
    });

    // Обновляем значения при загрузке страницы
    minPriceInput.value = initialMinPrice;
    maxPriceInput.value = initialMaxPrice;

    // Функция для установки значения в куки
    function setCookie(name, value) {
        document.cookie = name + '=' + value + '; path=/';
    }

    // Функция для получения значения из куков
    function getCookie(name) {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.indexOf(name + '=') === 0) {
                return cookie.substring(name.length + 1);
            }
        }
        return null;
    }
});
</script>

{% endblock %}
