{% extends 'main/main.html' %}
{% load static %}
{% block bodycontent %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element product-detail">
                <div class="slider-for">
                    <img class="product-image" src="{{ product.imageURL }}" data-model-url="{{ product.modelURL|escapejs }}">
                    {% for image in product.additional_images.all %}
                        <img class="product-image" src="{{ image.image.url }}">
                    {% endfor %}
                </div>
                <p></p>
                <div class="slider-nav">
                    <img class="product-image" src="{{ product.imageURL }}">
                    {% for image in product.additional_images.all %}
                        <img class="product-image" src="{{ image.image.url }}">
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-element product-info">
                <h3>{{ product.name }}</h3>
                <p>{{ product.description|linebreaks }}</p>
                <p><strong>Price: ${{ product.price|floatformat:0 }}</strong></p>
                <a class="btn btn-outline-dark" href="{% url 'furniture_store' %}">&#x2190; Back to store</a>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <button id="view-3d-button" class="btn btn-outline-primary" data-3d-url="{% url '3d_view' product.slug %}?3d_url={{ product.modelURL }}&view_3d=true">View in 3D</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: true,
            fade: true,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: false,
            centerMode: true,
            focusOnSelect: true
        });
</script>
<script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.139.0/build/three.module.js",
                "OrbitControls": "https://unpkg.com/three@0.139.0/examples/jsm/controls/OrbitControls.js",
                "GLTFLoader": "https://unpkg.com/three@0.139.0/examples/jsm/loaders/GLTFLoader.js",
                "OBJLoader" : "https://unpkg.com/three@0.139.0/examples/jsm/loaders/OBJLoader.js",
                "MTLLoader": "https://unpkg.com/three@0.139.0/examples/jsm/loaders/MTLLoader.js",
                "RectAreaLightHelper": "https://unpkg.com/three@0.139.0/examples/jsm/helpers/RectAreaLightHelper.js",
                "RectAreaLightUniformsLib": "https://unpkg.com/three@0.139.0/examples/jsm/lights/RectAreaLightUniformsLib.js"
            }
        }
    </script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var modelURLElement = document.querySelector('#view-3d-button');
        var model3DUrl = modelURLElement.getAttribute("data-3d-url");
        console.log("URL 3D-модели:", model3DUrl);
    modelURLElement.addEventListener("click", function () {
        // Navigate to the 3D model view page using model3DUrl
        window.location.href = model3DUrl;
    });
    });
</script>
<script src="{% static 'main/js/3d.js' %}" type="module"></script>
{% endblock %}
